version: 2
updates:
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    day: monday
    interval: weekly
    time: "05:30"
    timezone: Europe/London
- package-ecosystem: nuget
  directory: "/"
  groups:
    xunit:
      patterns:
        - xunit*
  schedule:
    day: monday
    interval: weekly
    time: "05:30"
    timezone: Europe/London
  open-pull-requests-limit: 99
- package-ecosystem: npm
  directory: "/src/TodoApp"
  groups:
    babel:
      patterns:
        - "@babel/*"
    typescript-eslint:
      patterns:
        - "@typescript-eslint/*"
    vitest:
      patterns:
        - "@vitest/*"
  schedule:
    day: monday
    interval: weekly
    time: "05:30"
    timezone: Europe/London
  open-pull-requests-limit: 99
